@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import "tailwindcss";

html {
  @apply bg-gradient-to-b from-[#161e27] from-0% to-black text-white;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#modelTrainingModal {
  @apply text-white;
}

#modelTrainingModal::backdrop {
  @apply bg-black/70 backdrop-blur-md;
}

#modelTrainingProgress {
  @apply w-[500px] max-w-[90%] h-2.5;
}

#modelTrainingProgress::-webkit-progress-bar {
  @apply rounded-full overflow-hidden bg-zinc-800;
}

#modelTrainingProgress::-webkit-progress-value {
  @apply bg-white;
}